{%load static%}
{%if user.is_authenticated%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static 'cadastro/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baumans&family=PT+Sans&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="cont_itens">
       <div class="logo">
        <div class="title">
            <p class="titulo">Psico.io</p>
        </div>
       </div>
       <div class="itens_cad">
           <div class="cadastro">
               <div class="formulario">
                   {% if user.is_authenticated %}
                   <div class="crie">
                       <p class="criarconta">Seja bem vindo(a), {{user.first_name}}!</p><br>
                    </div>
                    <div class="crie">
                        <p class="criarconta">Selecione a opção desejada.</p>
                     </div>
                   {% if user.cargo == 'PE' %}
                   <button><a href="{% url 'consultar' %}">Marcar Consulta</a></button>
                   <br>
                   {% else %}
                   <button><a href="{% url 'receita' %}">Imprimir Receita</a></button>
                   <br>
                   <button><a href="{% url 'remedio' %}">Cadastrar Remedio</a></button>
                   <br>
                   {% endif %}
                   <button><a href="{% url 'calendario' mes=mes ano=ano %}">Verificar Agenda</a></button>
                   <div class="voltar"><a href="{% url 'logout' %}"><p>Sair</p></a></div>
                   {% else %}
                            <li><a class="title" href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                   {% else%}
                        {%load static%}
                        <!DOCTYPE html>
                        <html lang="en">
                        <head>
                            <meta charset="UTF-8">
                            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                            <link rel="stylesheet" type="text/css" href="{% static 'cadastro/style.css' %}">
                            <link rel="preconnect" href="https://fonts.googleapis.com">
                            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                            <link href="https://fonts.googleapis.com/css2?family=Baumans&display=swap" rel="stylesheet">
                            <title>Index</title>
                        </head>
                        <body>
                            <div id="wrap">
                              <p>Psico.io</p>
                              <div id="itens_wrap">
                                  <div class="wrapp">
                                    <button><a href=" {% url 'login' %} ">ENTRAR</a></button>
                                    <button><a href=" {% url 'cadastro' %} ">CADASTRAR</a></button>
                                  </div>
                              </div>
                            </div>
                        </body>
                        </html>
                    {% endif %}

               </div>
           </div>
       </div>
    </div>
</body>
</html>