{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'cadastro/home.css'%}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>elder.ly</title>
</head>

<body>
    <div class="content">
        <header></header>

        <div id="bg"></div>

        <main>
            <div class="container">
                <section>
                    <h2>Seja bem-vindo de volta!</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="email" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="60" required="" id="id_username" placeholder="E-mail">
                        <input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Senha">
                        {{form.non_field_errors}}
                        <button type="submit">entrar</button>
                    </form>
                </section>
            </div>
        </main>
    </div>
</body>
</html>